---
import imagenheader from '../assets/LogoPrimary.svg'
import imagensilder from '../assets/Imagen2.png'
import MachineL from '../assets/Machine_Learning.svg'
import ImagenButton1 from '../assets/Imagenbutton1.svg'
import ImagenButton2 from '../assets/Imagenbutton2.svg'
import ImagenButton3 from '../assets/Imagenbutton3.svg'
import ImagenButton4 from '../assets/Imagenbutton4.svg'
import ImagenButton5 from '../assets/Imagenbutton5.svg'
import ImagenButton6 from '../assets/Imagenbutton6.svg'
import AppMobil from '../assets/mobilApp.svg'
import escucha from '../assets/escucha.svg'
import escritura from '../assets/escritura.svg'
import lectura from '../assets/lectura.svg'
import habla from '../assets/habla.svg'
import Timetolearn from '../assets/inicio/Timetolearn.svg'
---

<div id="container">
	<header>
		<!-- <img src={Background_header.src} alt=""> -->
		 <div class="container_conten">
			<div class="container_logo">
				<h1><span class="container__span --Primary">PRIMARY</span> <span class="container__span --Edu">EDU</span> <br> <span class="container__span --simplicity">SIMPLICITY</span></h1>
				<img src={imagenheader.src} alt="iamgenPrimary">
		 	</div>
			 <div class="slider">
				<div class="slider__content">
					<section class="slider__section" id="slider1">
						<article class="slider__text">
							<h2>Bienvenido</h2>
							<p>En <span class="container__span --Primary">Primary </span><span class="container__span --Edu">Edu </span><span class="container__span --simplicity">Simplicity</span> Creamos materiales que motivan a los niños y facilitan tu trabajo</p> <button> Unete ahora</button>
						</article>
						<img src={imagensilder.src} alt="imagencomputadora">
					</section>
					<section class="slider__section" id="slider2">
						<article class="slider__text">
							<p>Docentes ayudando a docentes. Comparte ideas y crece junto a otros educadores.</p> 
							<a href="/tusClases">Explora nuestros materiales</a>
						</article>
						<img src={Timetolearn.src} alt="imagencomputadora">
					</section>
				</div>
			 </div>
			 <button id="button1">buttonderecha</button>
			 <button id="button2">buttonizquierda</button>
		 </div>
	</header>
	<main>
		<div class="container_main">
			<header>
				<img src={MachineL.src} alt="">
				<div class="container_text">
					<h2>No pares de aprender</h2>
					<p>PrimaryEduSimplicity te brinda acceso gratuito al material didáctico necesario para tus clases. Simplemente selecciona tu grado y utiliza nuestros recursos en tus lecciones.</p>
				</div>
			</header>
			<div class="container_buttons">
				<div class="buttons_imagen">
					<div class="container_buttons2">
						<img src={ImagenButton1.src} alt="">
						<button>Transición</button>
					</div>
					<div class="container_buttons2">
						<img src={ImagenButton2.src} alt="">
						<button>Primero</button>		
					</div>
					<div class="container_buttons2">
						<img src={ImagenButton3.src} alt="">
						<button id="segundo">Segundo</button>
					</div>
				</div>
				<div class="buttons_imagen">
					<div class="container_buttons2">
						<img src={ImagenButton4.src} alt="">
						<button id="tercero">Tercero</button>
					</div>
					<div class="container_buttons2">
						<img src={ImagenButton5.src} alt="">
						<button>Cuarto</button>
					</div>
					<div class="container_buttons2">
						<img src={ImagenButton6.src} alt="">
						<button>Quinto</button>
					</div>
				</div>
				</div>
			<div class="container_final">
				<header>
					<img src={AppMobil.src} alt="">
					<div class="container_text">
						<h2>Habilidades</h2>
						<p>Con los cursos y materiales que tenemos a tu disposición, podrás preparar tus clases de manera que tus estudiantes desarrollen sus habilidades de forma efectiva</p>
					</div>
				</header>
				<section class="section">
					<div class="section__container">
						<div class="container__elements">
							<img src={escucha.src} alt="">
							<p>Escucha</p>
						</div>
						<div class="container__elements">
							<img src={habla.src} alt="">
							<p>Habla</p>
						</div>
					</div>
					<div class="section__container section2">
						<div class="container__elements">
							<img src={lectura.src} alt="">
							<p>Lectura</p>
						</div>
						
						<div class="container__elements">
							<img src={escritura.src} alt="">
							<p>Escritura</p>
						</div>
					</div>
				</section>
				</div>	
			</div>
		</div>
	</main>
</div>

<style>
	

	#container > header{
		width: 100%;
		background-color: #F7F7F7;
		background-color: #E8E7EC;
		
	}

	.container_logo{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		gap: 30px;
		flex-wrap: wrap;
		
	}
	
	.container_conten{
		margin: 20px clamp(0px, 18vw, 400px);
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.container_main{
		position: sticky;
    	left: 0;
		margin: 20px clamp(0px, 18vw, 400px);
		display: flex;
		flex-direction: column;
	
	}

	.container_logo img{
		width: clamp(5rem, 8vw, 20rem);
		height: auto;
	}

	h1{
		font-size: clamp(2rem, 5vw, 2.5rem);
		font-weight: 800;
		text-shadow: 0 0 5px #02020267;
		text-align: center;
	}

	.slider{
		overflow: hidden;
		position: relative;
		width: 100%;
		height: 400px;
		background-color: #ffffff;
		/*background-image: url("/src/assets/Background_header1.jpg");*/
		background-size: cover;
    	background-position: center;
		display: flex;
		justify-content: flex-start;
		
	}

	.slider__content{
		position: absolute;
		width: 200%;
		height: 400px;
		display: flex;
		scroll-snap-align: start;
		scroll-snap-type: x mandatory;
      	scroll-behavior: smooth;
		overscroll-behavior-x: contain;
		border: 1px solid;
	}

	.slider__section{
		width: 50%;
		height: 400px;
		display: flex;
		align-items: center;
		justify-content: space-around;

		
		
	}

	#button1:hover .slider__section{
		border: 1px solid;
		background-color: #3C5983;
		transform: translate(20px, 0)
	}

	#button1, #button2{
		font-size: clamp(0.8rem, 0.8vw, 0.7rem);
		padding: clamp(0.4rem, 0.4vw, 1rem) clamp(0.4rem, 2vw, 2rem);
		max-width: 90%;
		min-width: 20px;
		flex-grow: 1;
		border: 0;
		border-radius: 10px;
		background-color: #F15151;
		color: white;
		font-weight: 800;
		font-family: Calibri, 'Trebuchet MS', sans-serif;
	}

	.slider__text{
		width: 30%;
		/*box-shadow: 0 0 5px #0202026e;*/
	}

	.slider img{
		width: clamp(5rem, 12vw, 20rem);
	}

	.slider p{	
		border-bottom: 1px solid rgb(226, 226, 226);
		padding-bottom: 2%;
		
	}

	.slider span{
		font-weight: 800;
	}

	.slider button{
		font-size: clamp(0.8rem, 0.8vw, 0.7rem);
		padding: clamp(0.4rem, 0.4vw, 1rem) clamp(0.4rem, 2vw, 2rem);
		max-width: 90%;
		min-width: 20px;
		flex-grow: 1;
		border: 0;
		border-radius: 10px;
		background-color: #F15151;
		color: white;
		font-weight: 800;
		font-family: Calibri, 'Trebuchet MS', sans-serif;
	}
	.--Primary{
		color: rgb(141, 141, 141);
	}

	.--Edu{
		color: #AE2C10;
	}

	.--simplicity{
		color: #3C5983;
	}

	#container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		height: 100%;
		width: 100%;
		flex-direction: column;
		display: flex;
	}

	.container_main header{
		width: 60%;
		display: flex;
		gap: 10px;
		margin-bottom: 50px;
		
	}

	.container_main header img{
		width: clamp(4rem, 4vw, 8rem);
	}

	.container_buttons {	
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
	}
	.container_buttons2{
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	.container_buttons2 img{
		width: clamp(5rem, 5vw, 8rem);
		height: clamp(5rem, 5vh, 8rem);
	}

	.buttons_imagen{
		display: flex;
		flex-grow: 1;
		justify-content: space-between;
		margin-bottom: 50px;
		flex-wrap: wrap;
	
	}
	.container_buttons button{
		font-size: clamp(0.8rem, 6vw, 1.5rem);
		padding: clamp(0.4rem, 1vw, 2rem) clamp(0.4rem, 6vw, 5rem);
		width: 250px;	
		height: 70px;
		text-align: center;
		border: 0;
		border-radius: 10px;
		background-color: #F15151;
		color: white;
		font-weight: 800;
		font-family: Calibri, 'Trebuchet MS', sans-serif;
		box-sizing: border-box;
	}

	.container_final{
		border-top: 1px solid rgb(224, 224, 224);
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	.section{
		flex: 1;
		display: flex;
		flex-direction: column;
		
	}
	.section__container{
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 50%;
		flex-wrap: wrap;
		font-weight: 600;
	}

	.section2 {
		justify-content: flex-end;
	}

	.container__elements{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		
	}
	.container__elements img{
		width: clamp(5rem, 9vw, 9rem);
		height: clamp(5rem, 8remvh, 9rem);
	}
	header > p{
		line-height: 1.5;
	}
	main{
		background-color: white;
		width: 100%;
		
	}

</style>