---
import ImagenMision from '../assets/sobre_nosotros/imagenMision.svg'
import ImagenVision from '../assets/sobre_nosotros/imagenVision.svg'
import TusClasesGrados from './TusClasesGrados.astro'
import TusClasesHabilidades from './TusClasesHabilidades.astro'
import TusClasesNav from './tscomponet/tusClasesNav'
const { media, periodos, habilidades, allMedia } = Astro.props;
---

<div class="container">
    <div class="container__grupo">
         <aside>
            <TusClasesNav />
         </aside>
         <main>
            <details  class="grados">
                <summary>Grados</summary>
                <TusClasesGrados media={media} periodos={   periodos}/>
            </details>
            <details  class="Habilidades">
                <summary>Habilidades</summary>
                <TusClasesHabilidades media={media} periodos={periodos} habilidades={habilidades} allMedia={allMedia}/>
            </details>
         </main>
    </div>
</div>

<style>
    .container__grupo{
        font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
        position: sticky;
    	left: 0;
		margin: 20px clamp(0px, 18vw, 400px);
		display: flex;
        margin-top: 80px;
    }
    aside{
        display: flex;
        flex-direction: column;
        width: 15%;
        max-width: 15%;
        
    }

    .container__grupo main{
        flex: 1;
        width: 100%;
        height: 100%;
    }

    h3{
        margin-left: 10px;
    }

</style>