---
import ImagenMision from '../assets/sobre_nosotros/imagenMision.svg'
import ImagenVision from '../assets/sobre_nosotros/imagenVision.svg'
import TusClasesGrados from './TusClasesGrados.astro'
import TusClasesHabilidades from './TusClasesHabilidades.astro'
import TusClasesNav from './tscomponet/tusClasesNav'
import ImagenButton1 from '../assets/Imagenbutton1.svg'
import  './styles/TusClasesStyles.css';

const { media, periodos, habilidades, allHabilidades, param, allRecurses, grados } = Astro.props;
const ordenGrados = [...grados].sort((a,b)=> a.orden - b.orden);

const pruebagr = allRecurses.filter(({grado}) => ( grado[0] ==  3 ))

---


<div class="container">
    <div class="container__grupo">
         <aside>
            <TusClasesNav />
         </aside>
         <main class="contenido">
           
            {   
                ordenGrados.map(({name, id}) =>(
                   <details role="main"  class="detaills__container --grados">
                     
                        <summary id={name}  class="sumary --map">
                            <h3 class="titleGrades"> {`Grado ${name}`}</h3>
                        </summary>
                        
                    {( <TusClasesGrados media={allRecurses.filter(({grado}) => ( grado[0] == id ))} periodos={periodos}/>)}
                    </details>
                )) 
            } 
            
            <details role="main"  class="detaills__container Habilidades">
                <summary class="sumary --habilidades">
                    <h3 class="titleHabilidades">Habilidades </h3>
                </summary>
                <TusClasesHabilidades media={media} periodos={periodos} habilidades={habilidades} allHabilidades={allHabilidades}/>
            </details>
        
         </main>
    </div>
    <script src="/scripts/tusClases.js" defer></script>
</div>

<style>

    .detaills__container {
        
        margin-left: 50px;
        
    }

    .titleGrades{
       
    }
    
    .sumary{
        list-style: none;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        gap: 10px;
        align-items: center;
        height: 100px;
        background-color: #F15151;
        color: rgb(255, 255, 255);
        font-weight: 700;
        transition: 1s ;
        padding-left: 10px; 
        border-radius: 10px;
        cursor: pointer;
        margin-bottom: 5px;
        /*box-shadow: 0 0 10px #0202026e;*/
        /*border: 1px solid rgb(255, 255, 255);*/
    }

    .sumary:hover{
        border: 1px solid #F15151;
        background-color: rgba(240, 248, 255, 0);
        color: #585858;
    }

    .sumary::after{
        content: '';
        height: 35px;
        width: 35px;
        background: url('/icons/circle-chevron-down.svg') no-repeat ;
        background-size: cover;
        margin-left: .75em;
        transition: 0.2s;
        /*background-color: rgb(255, 255, 255);*/
        border-radius: 50%;
    }


    .detaills__container::details-content{
        opacity: 0;
        transition:
            opacity 600ms,
            content-visibility 600ms allow-discrete;
    }

    .detaills__container[open]::details-content {
        opacity: 1;
       
    }

    .detaills__container[open] .sumary{
        height: 50px;
        border: 1px solid #F15151;
        background-color: rgba(240, 248, 255, 0);
        color: #F15151;
        /*background-color: #c03f3f;*/
    }

    .detaills__container[open] .sumary::after{
        transform: rotate(180deg)
    }

    .--habilidades{
        background-color: #1e5785;
    }

    .contenido{
        display: flex;
        flex-direction: column;
    }

    .container__grupo{
        font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
        position: sticky;
    	left: 0;
		margin: 20px clamp(0px, 18vw, 400px);
		display: flex;
        margin-top: 80px;
    }
    aside{
        display: flex;
        flex-direction: column;
        width: 15%;
        max-width: 15%;
    }

    .container__grupo main{
        flex: 1;
        width: 100%;
        height: 100%;
      
    }

    h3{
        margin-left: 10px;
    }

    .--map{
        
    }

</style>