---
import ImagenMision from '../assets/sobre_nosotros/imagenMision.svg'
import  './styles/TusClasesStyles.css';
const { allHabilidades, habilidades } = Astro.props;
const allguias = allHabilidades;
const habilidad = habilidades;
import GuiasImg from './tscomponet/GuiasImg';
console.log(habilidad)

---

{   
    habilidad.map(({name, id}) => (

        <section class="section__periodos">
            <details class="details-content --habilidades">
                <summary class="summary-content --habiliades"> 
                    <h3>{name}</h3>
                </summary>
            
                {
                    (1>2) ? console.log("ok"):

                 allguias.filter(({habilidad}) => habilidad.includes(id))
                    .map(({titleModific, link}) =>(
                    <section class="content__data">

                            <GuiasImg  urlPdf={titleModific} client:load/>
                            <p>{titleModific}</p>
                            <a href={link} target="_blank"><img src="/icons/download_red.svg" width="25px" height="auto" alt=""></a>
                    </section>  
                    ))
                }
            </details>
        </section>
         
    ))
}