---
import ImagenMision from '../assets/sobre_nosotros/imagenMision.svg'
const { media, periodos } = Astro.props;
const guias = media;
const ordenPeriodos = [...periodos].sort((a,b) => a.slug-b.slug );
import  './styles/TusClasesStyles.css';
import Guias from './tscomponet/GuiasPdf';
import GuiasImg from './tscomponet/GuiasImg';
---

{   
    ordenPeriodos.map(({name, id}) => (
   
        <section class="section__periodos">
            <details class="details-content">
                <summary class="summary-content">
                     <h4 class="titlle">{name}</h4>
                </summary>
                {
                 guias.filter(({periodo}) => periodo[0] === id)
                    .map(({title, link}) =>(
                           
                        <article class="content__data">
                            <GuiasImg  urlPdf={title.rendered} client:load/>
                            
                            <p>{title.rendered}</p>
                           <a href={link} target="_blank"><img src="/icons/download_red.svg" width="25px" height="auto" alt=""></a>
                           
                        </article>       
                    ))
                }
            </details>
        </section>
         
    ))
}
