---
import ImagenMision from '../assets/sobre_nosotros/imagenMision.svg'
const { media, periodos } = Astro.props;
const guias = media;
const ordenPeriodos = [...periodos].sort((a,b) => a.slug-b.slug );
import  './styles/TusClasesStyles.css';
import Guias from './tscomponet/GuiasPdf';
import GuiasImg from './tscomponet/GuiasImg';

---

{   
    ordenPeriodos.map(({name, id}) => (
   
        <section class="section__periodos">
            <details class="details-content">
                <summary class="summary-content">
                     <h4 class="titlle">{name}</h4>
                </summary>
                <div class="container__elements">
                {
                 guias.filter(({periodo}) => periodo[0] === id)
                    .map(({titleModific, link}) =>(
                        
                            <article class="content__data">
                                <GuiasImg  urlPdf={titleModific} linkPdf={link} client:load/>
                                
                                <p class="text__targets"> <span class="textSpan">Titulo: </span> {titleModific}</p>
                                <a href={`/api/descargarPdf?url=${link}`} download={link}><button class="button__descarga">Descargar</button></a>
                            </article>  

                        
                                 
                    ))       
                }
                </div>
            </details>
        </section>
         
    ))
}
